.pallete {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.one {
    background-color: #8aec36;
}
.two {
    background-color: #9836ec;
}
.ukraine-flag {
    display: inline-block;
    background-image: linear-gradient(180deg, #005BBC, #FFD600);
    width: 100px;
    height: 100px;
}