.pallete {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.one {
    background-color: #8aec36;
}
.two {
    background-color: #9836ec;
}
.ukraine-flag {  
    background-image: linear-gradient(180deg, #005BBC 50%, #FFD600 50%);
}